[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
EnvironmentFile=/etc/environment
ExecStart=/opt/bin/kubelet \
    --address=0.0.0.0 \
    --port=10250 \
    --hostname-override=${COREOS_PUBLIC_IPV4} \
    --api-servers=http://172.17.8.20:10260 \
    --node-status-update-frequency=2s \
    --allow-privileged=true \
    --healthz-bind_address=0.0.0.0 \
    --logtostderr=true \
    --v=3
Restart=always
RestartSec=10

[X-Fleet]
Global=true
MachineMetadata=role=kubernetes
