[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=kubernetes-download.service
After=kubernetes-download.service

[Service]
ExecStart=/opt/bin/kube-proxy \
    --master=http://172.17.8.20:10260 \
    --logtostderr=true
Restart=always
RestartSec=10

[X-Fleet]
Global=true
