[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/opt/bin/kube-proxy \
    --master=http://172.17.8.20:10260 \
    --logtostderr=true \
    --v=3
Restart=always
RestartSec=10

[X-Fleet]
Global=true
