[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=kube-apiserver.service
After=kube-apiserver.service

[Service]
ExecStart=/opt/bin/kube-controller-manager \
    --master=127.0.0.1:10260 \
    --node-monitor-grace-period=10s \
    --logtostderr=true \
    --v=3
Restart=always
RestartSec=10

[X-Fleet]
MachineOf=kube-apiserver.service
