[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=kubernetes-download.service
After=kubernetes-download.service

[Service]
ExecStart=/opt/bin/kube-scheduler --master=127.0.0.1:10260
Restart=always
RestartSec=10

[X-Fleet]
MachineOf=kube-apiserver.service
