[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=kube-apiserver.service
After=kube-apiserver.service

[Service]
ExecStart=/opt/bin/kube-scheduler \
    --master=127.0.0.1:10260 \
    --logtostderr=true \
    --v=3
Restart=always
RestartSec=10

[X-Fleet]
MachineOf=kube-apiserver.service
