[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=kube-download.service kube-apiserver.service
After=kube-download.service kube-apiserver.service

[Service]
ExecStart=/opt/bin/kube-controller-manager \
    --master=127.0.0.1:10260 \
    --logtostderr=true
Restart=always
RestartSec=10

[X-Fleet]
MachineOf=kube-apiserver.service
