[Unit]
Description=Kubernetes Download Service
Documentation=https://github.com/slintes/CoreOSKubernetesTest

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="KUBE_VERSION=v0.13.1"
ExecStart=/bin/bash -c 'mkdir -p /opt/bin'
ExecStart=/bin/bash -c '/usr/bin/wget -O - "https://storage.googleapis.com/kubernetes-release/release/$KUBE_VERSION/kubernetes-server-linux-amd64.tar.gz" | tar -xz -C /opt/bin --strip=3'
ExecStart=/bin/bash -c '/usr/bin/wget -P /opt/bin "https://storage.googleapis.com/kubernetes/kube-register"'
ExecStart=/bin/bash -c 'chmod 0755 /opt/bin/kube*'

[X-Fleet]
Global=true
